/* PALETA DE COLORES (FONDO, LETRAS) */
$color-base: rgb(213 187 177 / 57%);
$color-letra-principal: #49403a;
$color-boton-menu: #EBD8D0;
$color-letra-menu: #49403a94;

/* ESTILO DE FUENTE PRINCIPAL */
$fuente-principal: "Montserrat";

/* MIXIN PARA CAMBIAR TAMAÑO */
 @mixin ajuste($width, $height) {
    height: $height;
    width: $width;
 }
 